# Dependency folders
node_modules/
dist/

# Environment files
.env

# Database (Prisma/SQLite)
prisma/*.db
prisma/*.db-journal

# Logs
npm-debug.log*
*.log

# Editor/IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
coverage/
/src/generated/prisma
